export const config = {
    apiKey: "changeMe",
    authDomain: "changeMe",
    databaseURL: "changeMe",
    messagingSenderId: "changeMe",
    projectId: "changeMe",
    storageBucket: "changeMe",
};
